.codebox {
  height: 85vh;
  width: 100vw;
  min-width: 75vw;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: hsla(0, 100%, 100%, 0.05);
  box-shadow: 0px 1px 1px 0px hsla(0, 0%, 0%, 0.14), 0px 2px 1px -1px hsla(0, 0%, 0%, 0.12), 0px 1px 3px 0px hsla(0, 0%, 0%, 0.2);
  color: var(--primary-text);
}

.gqldata {
  width: 50%;
  overflow: auto;
  padding: 0.5rem 1rem;
  border-left: 1px solid white;
}
.clientMutation {
  width: 100%;
  height: 60%;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: scroll;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid white;
}

.clientQuery {
  width: 100%;
  height: 60%;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: scroll;
  padding: 0.5rem 1rem;
}

.clientWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.syntaxHighlighter {
  height: 33vh;
  margin: 0;
  border-radius: 0;
}

.syntaxHighlightGraph {
  height: 75.5vh;
  margin: 0;
  border-radius: 0;
}

.button {
  cursor: pointer;
}

.exportWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exportWrapper button {
  margin-left: 1rem;
}
