.container {
  min-height: 95vh;
  /* min-width: 20rem; */
  padding: 0.5rem;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  /* align-items: flex-start; */
  justify-content: center;
  margin-right: 2rem;
  color: var(--primary-text);

  /* box-shadow: 0px 0px 10px #cbcdd0; */
}

.sampledb {
  /* position: absolute;
  top: 0rem; */
  min-height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.uriString {
  /* position: absolute;
  bottom: 10rem; */
  min-height: 38vh;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dbInput {
  width: 15rem;
  height: 1rem;
}

.button {
  font-size: 1rem;
  background-image: linear-gradient(to right, var(--secondary-color), var(--gradient-color));
  color: var(--primary-text);
  width: 10rem;
  height: 2rem;
  transition: left 0.5s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #aaa9a9;
  cursor: pointer;
}
