:root {
  --primary-color: white;
  --secondary-color: #a359d8;
  --gradient-color: rgba(21, 5, 194, 0.845);
  --primary-text: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color:var(--primary-text);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  /* background-color: var(--primary-text); */
}

h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0 1 rem;
  font-size: 1.25rem;
}
