@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  height: 90vh;
  width: 100%;
}

.hero h1 {
  font-size: 7rem;
  max-width: 100%;
  text-align: center;
  color: var(--primary-color);
}

.hero h2 {
  font-size: 2rem;
  text-align: center;
}

.hero button {
  font-size: 1rem;
  background-image: linear-gradient(45deg, var(--secondary-color), var(--gradient-color));
  color: var(--primary-color);
  width: 10rem;
  height: 3rem;
  transition: left 0.5s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #aaa9a9;
}

@media only screen and (max-width: 820px) {
  .hero{
    text-align: center;
  }
  .hero h1 {
    font-size: 4rem;
  }
  
  .scaleDown {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 420px) {
  .scaleDown {
    transform: scale(0.5);
  }
  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }
}
