@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  height: 90vh;
  width: 100%;
}

.hero h1 {
  font-size: 7rem;
  color: var(--primary-color);
}

.hero button {
  font-size: 1rem;
  background-image: linear-gradient(45deg, var(--secondary-color), var(--gradient-color));
  color: var(--primary-color);
  width: 10rem;
  height: 3rem;
  transition: left 0.5s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #aaa9a9;
}
