.homeContent {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--dark-theme);
  color: var(--primary-color);
}
