.container {
  /* padding: 0; */
  padding: 0 1rem;
}

.main {
  height: max-content;
  padding: 2rem 2.5rem 4.2rem 4.2rem;
  background-color: var(--dark-theme);
  /* flex: 1;
  display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* .logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
