.navbar {
  /* position fixed and top 0 keeps the nav bar fixed */
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 0 2rem;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.5);
  list-style-type: none;
  cursor: pointer;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

.ul {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
  align-items: center;
  /* height: 2rem; */
  color: var(--dark-text);
}

.current {
  /* display: flex; */
  /* height: 1.9rem; */
  border-bottom: 3px solid var(--secondary-color);
  cursor: pointer;
  font-size: 1.75rem;
  padding: 0.5rem;
}

.listitem {
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  font-size: 1.75rem;
  padding: 0.5rem;
}

.gql {
  cursor: pointer;
}
