.team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
  width: 100%;
  color: var(--primary-color);
}

.scaleDown {
  transform: scale(0.9);
}
