.team {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 100%;
  color: var(--primary-color);
}

.scaleDown {
  transform: scale(0.9);
}

.card {
  display: flex;
  justify-content: center;
}

